main {
  min-height: 80vh;
}

a {
  color: var(--bs-gray-dark);
  text-decoration: none;
}

a:hover {
  color: var(--bs-gray-dark);
  text-decoration: underline;
}

strong {
  color: var(--bs-gray-dark);
}

span {
  color: var(--bs-gray-dark);
}

div {
  color: var(--bs-gray-dark);
}

.form-group {
  margin-bottom: 0.2rem;
}

.badge {
  color: var(--bs-dark);
}
